.noteFilters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.noteFiltersSearch {
    display: flex;
    position: relative;
    width: 230px;
    height: 32px;
}

.noteFiltersSearch svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 10;
    color: #00000066;
}

.noteFiltersSearch input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-left: 30px;
    border: 2px solid #1c315e33;
    border-radius: 25px;
    font-weight: 500;
    color: #1c315e;
}

.noteFiltersSearch input:focus {
    border-color: #1c315e;
}

.noteFiltersSearch input:focus + i svg {
    color: #1c315e;
}

.noteFiltersBtn {
    margin-left: 12px;
    padding: 4px 16px;
    font-size: 13px;
    border-radius: 20px;
    font-weight: 500;
    color: #eeeeee;
    border: 2px solid;
}

.noteFiltersBtn svg {
    margin-right: 4px;
}

.noteFiltersBtnSave {
    border-color: #eeeeee;
    background-color: #eeeeee33;
}

.noteFiltersBtnSave.active {
    border-color: #1c315e;
    background-color: #1c315e33;
    color: #1c315e;
}

.noteFiltersBtnDeleteAll {
    border-color: #cd0404;
    background-color: #cd040433;
    color: #cd0404;
}

.disabled {
    cursor: not-allowed;
    border: 2px solid #eeeeee;
    background-color: #eeeeee33;
    color: #33333333;
}
